.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  font-size: 70px;
}

.App-header a {
  font-size: 25px;
  position: fixed;
  color: white;
  top: 20px;
  right: 20px;
}

button {
  height: 50px;
  width: 170px;
  color: black;
  background-color: #61DAFB;
  border: none;
  outline: none;
  position: relative;
  margin-top: 20px;
  font-size: 25px;
  cursor: pointer;
}

button, button:focus{
  outline: none;
  border: 1px solid transparent;
}

button:active{
  outline: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
